.navmenu.navmenu-default.navmenu-fixed-left
  %a.navmenu-brand{ href: root_path }
    = t('admin_import.admin')
    = image_tag( GogglesCore::AppConstants::WEB_APP_LOGO, style: "width: 100px;" )
  = render_navigation( context: 'admin_v2_data_import', level: 1..2, expand_all: true, renderer: :bootstrap )
