%p.text-center.lead= I18n.t('admin_index.title')

.row.span11
  - if @existing_output_files.instance_of?(Array) && (@existing_output_files.size > 0)
    .row
      %b= I18n.t('admin_index.existing_output_files')
    - @existing_output_files.each do |filename|
      .row
        %i.linenums= filename

.row.span11
  - if (@console_output && @console_output.size > 0)
    %hr
    %pre.prettyprint.linenums= @console_output
