%h2= "--=[  Goggles  -o^o-  ]=-- #{ t('newsletter_mailer.community.generic_title') }"
%br

- if @newsfeed_array.respond_to?( :each )
  %h3= t('newsletter_mailer.community.unread_news') + ':'
  %br

  %ul
    - @newsfeed_array.each do |feed|
      %li= render( partial: 'goggles/news_feed_row', locals: { feed: feed } )
      %br
