/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ----- Navbar & Titlebar ----- */
#goggles-inner-navbar {
    min-height: 26px;
    height: 26px;
}

.navbar .goggles-brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 200;
    margin-left: -10px;
    padding: 3px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.navbar .goggles-brand img {
    height: 14px;
}

.navbar .goggles-small-brand {
    color: #777777;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 200;
    margin-left: 0;
    padding: 2px 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 0px;
}

.navbar ul.nav > li > a {
    padding: 3px 10px;
}
.navbar .nav > li > a.goggles-nav-compact {
    padding: 2px 5px;
    line-height: 0px;
}

.navbar .ghost-divider-vertical {
    height: 20px;
    margin: 0 9px;
}


/* ----- Navigation / breadcrumbs ----- */
.goggles-breadcrumb{
    padding: 26px 10px 0px 0px;
    text-align: right;
}

.goggles-category-gap{
    padding: 26px 0px 0px 0px;
}


/* ----- Tables / Headers with accordion ----- */
.table td.goggles-td {
    line-height: 15px;
}
.table td.goggles-td p {
    margin-bottom: 2px;
}

table.table {
    margin-bottom: 0;
}

table.table.goggles-meeting-team-results-table {
    margin-bottom: 8px;
}
table td.goggles-border-onlyright{
    border-top: none;
    border-right: 1px solid #DDDDDD;
    border-bottom: none;
    border-left: none;
}
table td.goggles-border-right{
    border-right: 1px solid #DDDDDD;
}
table td.goggles-border-onlyleft{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #DDDDDD;
}

table td.goggles-noborder{
    border: none;
}
table td.goggles-centeralign{
    text-align: center;
}
table td.goggles-rightalign {
    text-align: right;
}
.goggles-bakckground-highlight{
    background: #FFEFAF;
}


.goggles-accordion-heading{
    padding-right: 10px;
    padding-left: 10px;
}
.goggles-accordion-heading img{
    padding-top: 10px;
}


/* ----- Div lists ----- */
.goggles-divlist-even {
    background: #eeeeee;
}
.goggles-divlist-odd {
    background: #ffffff;
}
.goggles-div-centeralign {
    text-align: center;
}
.goggles-div-rightalign {
    text-align: right;
}
.goggles-smallfont {
    font-size: 0.9em;
}


/* ----- Training Row 'new'/'edit' form sortable/droppable styles: ----- */
ul.sortable {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul.sortable li {
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*
li.goggles-sortable {
    cursor: pointer;
    margin-bottom: 2px;
    line-height: 1.2em;
}
li.goggles-sortable {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1em;
    height: 18px;
}
li.goggles-sortable div {
    position: absolute;
    margin-left: -1.3em;
}
*/


/* Flag classes to signal feature on/off; enable styles to debug */
/*
.droppable {
    border: 1px dotted;
}
*/
.group_hdr {
    margin-top: 4px;
    padding-top: 5px;
    background: #cfcfcf;
}

.framed {
    border: 1px dashed #37a5f9;
    margin-top: 5px;
    margin-bottom: 5px;
}
.full_row.grouped {
    background: #efefef;
}


/* ----- Training Row 'show' action styles: ----- */
.goggles-training pre {
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0;
    padding: 4px;
}


/* ----- Custom ComboBox widget styles: ----- */
.ui-combobox {
    display: inline-block;
    margin: 0;
    margin-right: 1em;
    margin-left: 0.5em;
    position: relative;
}
.ui-combobox-input {
    padding: 0.1em; margin: 0;
}
.ui-combobox-button {
    position: absolute;
    width: 0.8em !important;
    margin: 0;
    margin-left: -1px;
    top: 0;
    bottom: 0;
}
.ui-combobox-button .ui-button-text {
    padding: 0em;
}
.ui-combobox .ui-autocomplete {
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}
