/*
 * This file will be loaded last in CSS application tree.
 * Add here all the required style overrides.
 */

/* ----- Offcanvas/Jasny menu style/overrides ----- */
html, body {
    height: 100%;
}

body {
    padding: 50px 0 0 0;
}

.navmenu {
    width: 250px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
  }
}



/* ----- Bootstrap overrides ----- */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px;
    color: #555555;
    display: inline-block;
/* [Steve, 20161006] These values are not mobile-friendly:
    font-size: 12px;
    height: 16px;
    line-height: 16px;
 */
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px;
    vertical-align: middle;
}

select, input[type="file"] {
/* [Steve, 20161006] These values are not mobile-friendly:
    height: 22px;
*/
    line-height: 20px;
}


/* Bottom-side nav legend (#show_full & other very long views) */
ul.navpill_side {
    line-height: 1em;
    font-size: 14px;
    padding: 2px;
}
ul.navpill_side>li>a {
    padding: 5px;
    text-decoration: none;
    text-align: center;
}


.ui-autocomplete {
	max-height: 218px;
	max-width: 400px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
    font-size: 11px;
}
.ui-state-highlight {
	height: 28px;
	line-height: 1.2em;
}

.input-mini {
    width:80px;
}

.input-micro {
    width:25px;
}

.help-block, .help-inline {
    color: #990000;
    font-style: italic;
}

.ui-widget .ui-widget {
    font-size: 0.75em;
}

/* ----- jQuery Spinner styles overrides ----- */
.ui-spinner {
	height: 24px;
}

span.ui-spinner  {
	float: left;
	margin-left: 1em;
}
span.ui-icon-triangle-1-n {
    background-position: -4px -16px;
}
span.ui-spinner .ui-icon-triangle-1-s {
	background-position: -69px -20px;
}
span.ui-spinner .ui-icon {
    position: absolute;
    margin-top: 0px;
    top: 0px;
    left: 0px;
}


/* ----- WiceGrid styles overrides & additions ----- */
.wice-grid td {
    line-height: 10px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* ----- Custom background coloring styles: ----- */
.goggles-meeting-csi {
    background: #AAEEAA;
}

.goggles-meeting-fin {
    background: #AACCF6;
}
